body {
  font-family: "Lato";
  font-weight: 400;
  color: $color-grey-dark;
  padding: 3rem;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden; /* It stops the animation from moving up */

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; /* It will come out faster first and then slow down */
    /*
    animation-delay: 3s; // waits for 3 seconds then animates
    animation-iteration-count: 3; // animates thrice 
    */
  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.76rem;
    animation: moveInLeft 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
